.host__info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 5px;

  &__img {
    width: 64px;
    height: 64px;
    margin-left: 10px;

    & img {
      width: 100%;
      height: 100%;
      border-radius: 100%;
    }
  }
}

.host__info__name {
  color: $color-primary;
  font-size: 18px;
  font-weight: 500;
}

/******** RESPONSIVE ********/

// Breakpoint écran large
@media screen and (min-width: 1400px) {
  .host__info {
    margin-top: 16px;
  }
}

// Breakpoint mobile
@media screen and (max-width: 576px) {
  .host__info__img {
    width: 40px;
    height: 40px;
  }

  .host__info__name {
    font-size: 12px;
  }
}
