@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;500;600;700;800&family=Open+Sans:wght@300;400&family=Roboto:wght@100;300&family=Shrikhand&display=swap');




// Variables couleurs
$color-primary: #ff6060;
$color-secondary: #ffffff;
$color-tertiary: #f7f7f7;
$color-fourth: #000000;



